*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

main{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;
    padding: 30px;
}
header{
    position: absolute;
    top: 0;
    width: 100%;
    padding: 25px;
    text-align: center;
    box-shadow: 1px 1px 6px black;
}
.view-container{
    display: flex;
    align-items: center;
    width: 200px;
    height: 200px;
    padding: 9px;

    text-align: center;
    box-shadow: 1px 1px 6px black;
}
h2{
    font-size: 2rem;
    font-family: sans-serif;
}